/* GLOBAL STYLES
-------------------------------------------------- */


/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #000;
    font-family: 'Azo Sans', sans-serif;
}

.title h2 {
    text-align: center !important;
}

s a {
    color: #4E24D1;
}

a:hover {
    color: #4E24D1;
}

.navbar-collapse.in {
    display: block;
}


/* Center align the text within the three columns below the carousel */

.app .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.team-name {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.team-role {
    font-size: 1.1rem;
    font-weight: 200;
    text-align: center;
}

.app .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.lg-div {
    display: block;
}

.img-cont {
    display: flex;
    align-items: flex-start;
    /* new */
    width: 100%;
    justify-content: center;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.sm-icons {
    text-align: center;
    color: black;
    font-size: 1.3rem;
}

.pombo-button {
    background-color: #4E24D1;
    color: #fff;
}

.pombo-button:hover {
    background-color: #303030;
    color: #fff;
}

.pombo-button :focus {
    color: #fff !important;
}

.container-fluid.app {
    background-color: #4E24D1;
    color: #fff;
}

.alert {
    text-align: center;
    padding: 10px;
    color: #45E5AC;
    margin-bottom: 10px;
    display: none;
}

p.app {
    text-align: center;
    font-size: 1.2rem;
}

h2.app {
    text-align: center;
}

h3.app {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .team-name {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (max-width: 992px) {
    .lg-div {
        display: none !important;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}